.navbar {
  border-radius: 0;
}

.full {
  height: 100%;
  background: #16a085;
}

.wrapper {
  width: 720px;
  margin: 60px auto;
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.37);
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.37);
}

.items {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 180px;
  height: 180px;
  cursor: pointer;
}

.item-block:nth-child(1) .items:nth-child(1) {
  background-color: #1abc9c;
}

.item-block:nth-child(1) .items:nth-child(2) {
  background-color: #2ecc71;
}

.item-block:nth-child(1) .items:nth-child(3) {
  background-color: #4aa3df;
}

.item-block:nth-child(1) .items:nth-child(4) {
  background-color: #9b59b6;
}

.item-block:nth-child(2) .items:nth-child(1) {
  background-color: #28b362;
}

.item-block:nth-child(2) .items:nth-child(2) {
  background-color: #18af92;
}

.item-block:nth-child(2) .items:nth-child(3) {
  background-color: #2980b9;
}

.wrapper .items div {
  display: inline-block;
}

.modal-body {
  padding : 0;
}

.code-html {
  border-bottom: 1px solid #ddd;
}

.code-block {
  position: relative;
  padding: 15px;
}

pre, code {
  white-space: pre-line;
  padding : 0;
  color: black;
  background-color: white;
  border: 0px;
}

.lang-label { 
  position: absolute;
  top: 3px;
  right: 3px;
  padding: 5px 8px;
}

/**
 * Fix spinkit problems
 */
.sk-spinner.sk-spinner-wandering-cubes {
  width : 60px;
  height : 60px;
}